
.nav-link{
    color: #C6F1FF !important;

    padding: 10px !important;
}

.cardsPof{

    margin: auto;
    text-align: center;
}

.space{
    height: 82vh;
}

.fotText{
    text-align: center!important;
}